@font-face {
    font-family: "Font Pokemon";
    src: url('Pokemon Solid.ttf');
}
@font-face {
    font-family: "Font Pokemon2";
    src: url('Pokemon Hollow.ttf');
}
*{
    font-family: 'Poppins', sans-serif;
}
body
{
    background-color: rgb(234, 234, 234);
}    
body .test1
{
    text-align: center;
    font-family: "Font Pokemon";
    color: blue;
    text-decoration: underline yellow 5px;
}

.containerMain
{
    display:grid;
    grid-template-columns: auto auto auto;
}
.containerMain .titre
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.containerMain h2{
    margin-right: auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.containerMain a{
    text-decoration: none;
    color: #05215d;
}

.containerMain img
{
    margin-right: auto;
    width: 250px;
    height: 250px;
}
        
.en-tete
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.en-tete img
{
    width: 250px;
    height: 250px;
}
.en-tete .jeuName
{
    font-size: x-large;
    text-decoration: underline;
}

.container h2
{
    text-align: center;
}

/***Page Choice***/
.allPkmns {
	display: grid;
	grid-template-columns: auto auto auto;
    justify-content: space-around;
}
.pokemons{
    position: static;
    display: flex;
    margin-bottom: 2%;
}
.pokemons a{
    text-decoration: none;
    color: #05215d;
    text-align: center;
}
.pokemons p{
    text-transform: capitalize;
}
/* .pokemons-sprite{
    position: absolute;
    display: flex;
    padding: 1em;
    bottom: 10%;
} */


/***Fin Page Choice***/

/***Pokemon Details***/

.container_pokemon_details{
    text-align: center;
}
.container_pokemon_details img{
    height: 240px;
}
.container_pokemon_details h1{
    text-transform: capitalize;
    margin-top: -1.5%;
}
.container_pokemon_details h2, h1{
    text-decoration: underline;
}

.moves_pokemon_details{
    display: grid;
	grid-template-columns: auto auto auto auto;
}
.moves_pokemon_details p{
    text-transform: capitalize;
}