{% extends 'base.html.twig' %}

{% block body %}

    <h1>Création d'Équipe</h1>
    {{ form_start(formEquipes) }}
    <button type="submit">Valider</button>
    {{ form_end(formEquipes) }}
    <a href="{{ path('liste_equipe')}}"><button type="submit">Retour</button></a>
{% endblock %}